* {
  text-align: center;
  }

  h1 {
  color:#36013f
    }

div {
  background-color:#CBC3E3;
  color:black
    }
  
div2 {
  color:black;
  background-color:white;
    } 

body {
  background-color:lightgrey
 
    }
